@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(360deg, #ff010183, #eeff0094);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

main h1 {
    margin-bottom: 2rem;
    position: relative;
    cursor: default;
}

main h1::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 290px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(360deg, #ffee00, #ff0101);
}

.casas{
    font-size: 1.12rem;
}

.casas a{
    text-decoration: none;
    display: flex;
    color: black;
    padding: 0.3rem;
    border-radius: 4px;

}

.pontosTuristicos {
    background:#ffee0070;
}

.ruas{
    background:#ff01016e;
}